body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-family: Nunito;
  color: #484a4d;
  margin: 0px;
  font-size: medium;
}

:root {
  --bg-accent: #484a4d;
  --text-color: #f5f5f5;
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms; 
  font-family: Nunito;
}
::placeholder{
  color:black;
  opacity: 1;
}
/**
 * Custom cross-browser styles for keyboard :focus overrides defaults.
 */
 *:focus { 
  outline: 0 !important;
  box-shadow:
    0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
  background-color: none;
}

/**
 * Remove focus styles for non-keyboard :focus.
 */
*:focus:not(.focus-visible) {
  outline: 0 !important;
  background-color: none;
  box-shadow: none !important;
}

h2{
  color: #484a4d;
}
.MuiAppBar-positionFixed{
  right: 1px;
}
.MuiTypography-h3{
  font-size: 0px;
}
button {
  height: 35px;
  margin: 2rem 0;
  outline: none;
  background-color: none;
  padding: 1rem 2rem;
  cursor: pointer;
}
button:focus {
  outline:0;
  background-color: none;
}
button:active, input[type='button']:active {
  outline: none;
  background-color: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

.creditCardButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  margin: 8px;
}
.subscribeButton {
	box-shadow: 0px 2px 11px -8px #f0f7fa;
	background:linear-gradient(to bottom, #cf3121 5%, #c00000 100%);
	background-color:#cf3121;
	border-radius:9px;
	border:1px solid #f5f5f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Nunito;
	font-size:15px;
	font-weight:bold;
	padding:8px 42px;
	text-decoration:none;
	text-shadow:0px 0px 0px #5b6178;
}
.subscribeButton:hover {
	background:linear-gradient(to bottom, #e22d19 5%, #cc1f00 100%);
	background-color:#cf3121;
}
.subscribeButton:active {
	position:relative;
	top:1px;
}

a.button2{
  display:inline-block;
  padding:0.7em 1.7em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.2em;  
 box-sizing: border-box;
  text-decoration:none;
font-family:'Nunito',sans-serif;
  font-weight:400;
  color:#f5f5f5;
  background-color:#cf3121;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  }
  a.button2:active{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }
  @media all and (max-width:30em){
    a.button2{
      display:block;
      margin:0.4em auto;
    }
  }
a.button7{
  display:inline-block;
  padding:0.7em 1.7em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.2em;  
 box-sizing: border-box;
  text-decoration:none;
font-family:'Nunito',sans-serif;
  font-weight:400;
  color:#202020;
  background-color:#f5f5f5;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  }
  a.button7:active{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }
  @media all and (max-width:30em){
    a.button7{
      display:block;
      margin:0.4em auto;
    }
  }

a.button1{
  display:inline-block;
  padding:0.7em 1.7em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.2em;  
 box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color:#cf3121;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  }
  a.button1:active{
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }
  @media all and (max-width:30em){
    a.button1{
      display:block;
      margin:0.4em auto;
    }
  }



/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  z-index: 999;
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Icon Button */
.icon-button {
  color: #151616;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #cac8c8;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  z-index: 999;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.header-text{
  justify-content: start;
  font-family: Nunito;
  color: #fff;

}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: rgba(0,0,0,0.5);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}